*{
    padding: 0;
    margin: 0;
}
header{
    display: flex;
    font-family: sans-serif;
}
.Ul_boshi{
    display: flex;
    gap: 20px;
    list-style: none;
    font-weight: 500;
    font-size: 16px;
    margin-left: 500px;
    color: #FFFFFF;
}
.About_nav{
    display: flex;
}
.About{
    background-image: url(assets/Uy\ orqa\ fon.png);
    background-size: cover;
    height: 400px;
}
.DB{
    color: #FFFFFF;
    font-family: sans-serif;
    margin-left: 40px;
}
.About_text{
    color: #FFFFFF;
    margin-top: 150px;
    text-align: center;
    font-family: sans-serif;
}
a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 25px;
}
.rasm{
    background-color: #F5F5F5;
    display: flex;
    margin-left: 120px;
    margin-top: 90px;
    width: 1100px;
    height: 500px;
}
.yozuv h2{
    margin-left: 40px;
    margin-top: 20px;
    color: #056088;
    font-family: sans-serif;
}
.cards1{
    display: flex;
    gap: 50px;
    margin-top: 20px;
}
.cards{
    width: 520px;
    margin-left: 40px;
}
.card{
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #FFFFFF;
    color: #00000066;
    margin-bottom: 20px;
}
.card2{
    background-color: #fff;
    padding-top: 30px;
    padding-right: 50px;
    padding-left: 20px;
    padding-bottom: 200px;
    margin-right: 60px;
    background-color: #FFFFFF;
    color: #00000066;
}
.yozuv button{
    margin-left: 40px;
    background: linear-gradient(104.58deg, #056088 10.57%, #09A7CA 96.62%);
    border: none;
    padding: 20px 25px;
    margin-top: 20px;
    color: #FFFFFF;
}
.buttonlar h2{
    color: #056088;
}
.buttonlar{
    margin-top: 60px;
    margin-left: 350px;
}
.buttonlar button{
    border: none;
    padding: 20px 25px;
    margin-top: 20px;
    color: #FFFFFF;
    margin-left: 25px;
    background: linear-gradient(104.58deg, #056088 10.57%, #09A7CA 96.62%);
}
.button{
    margin-left: 160px;
}
.Eng_oxirgi{
    display: flex;
    font-family: sans-serif;
    background-color: #023957;
    color: #FFFFFF;
    line-height: 25px;
}
.Eng_oxirgi h1{
    margin-top: 50px;
    margin-left: 20px;
}
.Eng_oxirgi p{
    margin-left: 20px;
    margin-top: 20px;
}
.Eng_oxirgi button{
    margin-left: 20px;
    background: linear-gradient(104.58deg, #056088 10.57%, #09A7CA 96.62%);
    border: none;
    padding: 25px 30px;
    margin-top: 20px;
    color: #FFFFFF;
}
.Eng_oxirgi ul{
    margin-top: 45px;
    color: #FFFFFF;
    list-style: none;
    margin-left: 150px;
    line-height: 50px;
    margin-top: 45px;
}
